.board-tiles {
  display: flex;
  flex-wrap: wrap;
  width: 45rem;
  justify-content: center;
  margin: 0 auto;
}

.tile {
  margin: 0.2rem;
  transition: all 0.1s;
}

.tile:hover {
  transform: scale(1.1);
}

.board-table {
  text-align: center;
}
